## 0. Hire IT employee data

In a company `Hire IT`, there are these employees.

| employeeID | name    | department | salary |
| ---------: | :------ | :--------- | ------ |
|          0 | Alice   | HR         | 31000  |
|          1 | Bob     | IT         | 41000  |
|          2 | Charlie | HR         | 28000  |

&nbsp; a) Create a list of dictionaries to represent this data, where each dictionary represents each row.

&nbsp; b) Extract the second record in this dataset.

&nbsp; c) Extract all rows from this dataset and print it in this format

```
Alice works in department HR and earns 31000.
Bob works in department IT and earns 41000.
Charlie works in department HR and earns 28000.
```

&nbsp; d) Find out the average salary in Hire IT.

&nbsp; e) Find out the average salary among the HR department in Hire IT.

&nbsp; f) Extract all records where the department is HR.

&nbsp; g) Find all unique departments in this list.

For the following exercises the data has now been updated with the age column

| employeeID | name    | department | salary | age |
| ---------: | :------ | :--------- | ------ | --- |
|          0 | Alice   | HR         | 31000  | 26  |
|          1 | Bob     | IT         | 41000  | 37  |
|          2 | Charlie | HR         | 28000  |     |

&nbsp; h) Add this age column into our list of dictionaries. `None` should be used for empty fields.

&nbsp; i) A new employee named David starts at the IT department, with salary 35000 and has the age 30. Create a function to add this record to the dataset.

In [1]:
# employees = {'id': [0, 1, 2], 'name': ['Alice', 'Bob', 'Charlie'], 'department': ['HR', 'IT', 'HR'], 'salary': [31000, 41000, 28000]}

# for key, value in employees.items():
#     print(f'{key: <15} {value}')

In [2]:
# employees['name']

In [3]:
employees = [
    {'id': 0, 'name': 'Alice', 'department': 'HR', 'salary': 31000},
    {'id': 1, 'name': 'Bob', 'department': 'IT', 'salary': 41000},
    {'id': 2, 'name': 'Charlie', 'department': 'HR', 'salary': 28000}]

In [4]:
employees[1]

{'id': 1, 'name': 'Bob', 'department': 'IT', 'salary': 41000}

In [6]:
employees[0]['name']

'Alice'

In [9]:
for employee in employees:
    for key, value in employee.items():
            print(f'{key}: {value}')

id: 0
name: Alice
department: HR
salary: 31000
id: 1
name: Bob
department: IT
salary: 41000
id: 2
name: Charlie
department: HR
salary: 28000

In [ ]:
for item in employees:
    print(item)

id
name
department
salary

In [ ]:
for employee in employees:
    print(f"{employee['name']} works in department {employee['department']} and earns {employee['salary']}.")

Alice works in department HR and earns 31000.
Bob works in department IT and earns 41000.
Charlie works in department HR and earns 28000.

In [ ]:
def avgerage_salary(employees):
    total_salary = sum(employee['salary'] for employee in employees)
    return total_salary / len(employees)
    
avg_salary = avgerage_salary(employees)
print(f'Average salary in Hire IT is: {avg_salary:2f}')

TypeError: string indices must be integers, not 'str'

In [ ]:
def average_hr_salary(employees):
    hr_emp = [employee for employee in employees if employee['department'] == 'HR']
    total_salary = sum(employee["salary"] for employee in hr_emp)
    return total_salary / len(hr_emp) if hr_emp else 0
    
avg_salary_hr = average_hr_salary(employees)
print(f'Average salary for HR department is: {avg_salary_hr:2f}')

Average salary for HR department is: 29500.000000

In [ ]:
def hr_records(employees):
    return [employee for employee in employees if employee["department"] == "HR"]

hr_rec = hr_records(employees)
print("f) HR department records:")
for employee in hr_rec:
    print(employee)

f) HR department records:
{'id': 0, 'name': 'Alice', 'department': 'HR', 'salary': 31000}
{'id': 2, 'name': 'Charlie', 'department': 'HR', 'salary': 28000}

In [ ]:
def uniqe_dep(employees):
    return set(employeelst['department'] for employeelst in employees)

unq_dep = uniqe_dep(employees)
print(f"g) Unique departments: {unq_dep}")

g) Unique departments: {'HR', 'IT'}

In [ ]:
employees[0]['age'] = 26
employees[1]['age'] = 37
employees[2]['age'] = None

for employee in employees:
    print(f'h: {employee} uppdaterad')

h: {'id': 0, 'name': 'Alice', 'department': 'HR', 'salary': 31000, 'age': 26} uppdaterad
h: {'id': 1, 'name': 'Bob', 'department': 'IT', 'salary': 41000, 'age': 37} uppdaterad
h: {'id': 2, 'name': 'Charlie', 'department': 'HR', 'salary': 28000, 'age': None} uppdaterad

In [ ]:
def add_employee(employees, id, name, department, salary, age):
    new_employee = {
        'id': id,
        'name': name,
        'department': department,
        'salary': salary,
        'age': age
    }
    employees.append(new_employee)

#add_employee(employees, 3, 'David', 'IT', 35000, 30)
#employees.pop()

print(f'i), added David to list')
for employee in employees:
    print(employee)

i), added David to list
{'id': 0, 'name': 'Alice', 'department': 'HR', 'salary': 31000, 'age': 26}
{'id': 1, 'name': 'Bob', 'department': 'IT', 'salary': 41000, 'age': 37}
{'id': 2, 'name': 'Charlie', 'department': 'HR', 'salary': 28000, 'age': None}
{'id': 3, 'name': 'David', 'department': 'IT', 'salary': 35000, 'age': 30}